<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"
      integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- FONTAWESOME ICONS -->
    <script src="https://kit.fontawesome.com/9ac3f17ed5.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('partials/navegacion') %>
    <%- include('partials/sidebar') %>
    <div class="block__chain__container d-none">
      
    </div>
    <div class="spinner-border text-primary loader__page d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="container container__home p-3">
      <% if(section == 'register-articles') { %>
        <%- include('partials/articulos-register') %>
      <% } else if(section == 'reporte-articles') { %>
        <%- include('partials/articulos-reporte') %>
      <% } else if(section == 'edit-articles') { %>
        <%- include('partials/articulos-edit') %>
      <% } %>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/js/articulos.js"></script>
  </body>
</html>
